body {
  padding: 1rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(233, 202, 202);
}
/* header bölümü*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

header h1 {
  position: relative;
  color: red;
  margin: 0;
  font-size: 4em;
}

header nav {
  position: relative;
  left: 180px;
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  gap: 0.5rem;
}

header nav a {
  text-decoration: none;
  color: black;
  cursor: none;
}

header nav a:nth-child(2n) {
  color: red;
}

header nav a:hover {
  color: black;
}

div.h_panel {
  position: relative;
  left: 300px;
  align-items: center;
}
.h_panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.h_panel input {
  padding: 0.3rem;
  width: 7rem;
  border-color: red;
  border-width: 0.05em;
}

.h_panel img {
  border-radius: 100px;
  width: 2.5rem;
}
.arama_panel {
  position: relative;
  width: 200px;
}

.arama_panel input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid red;
  border-radius: 20px;
  font-size: 16px;
}

.arama_panel::after {
  content: "\1F50D";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: red;
}

ul.menu {
  display: none;
}
.menu {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 50px;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: none;
}
.menu > li > i {
  width: 2rem;
  height: auto;
  color: red;
  display: block;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
}
.menu ul {
  background: red;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  top: 35px;
  width: 100%;
}
i {
  width: 0%;
}
.menu li:hover ul {
  height: 40px;
  opacity: 1;
  transform: translateY(0);
}

.menu ul i {
  color: white;
  display: block;
  padding: 5px 20px;
}

/* MAIN*/
main {
  aspect-ratio: 3/1;
  background-color: white;
  border: 2px solid red;
  border-radius: 10px;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.main_div {
  width: 60%;
}
.video_main {
  width: 40%;
}

.d_video {
  display: flex;
  position: relative;
  left: 150px;
  height: auto;
  justify-content: center;
}
.rating {
  color: red;
  font-weight: bold;
}
.r_age {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0 0.5rem;
}

.m_diger span {
  font-weight: bold;
  color: red;
}
.diger p {
  margin: 0.5rem 0;
}
button {
  background: red;
  border: 0;
  padding: 0.6rem 2.1rem;
  color: white;
  border-radius: 0.5rem;
  font-size: large;
}
button.deneme i {
  margin-left: -2rem;
  margin-right: 2.2rem;
  font-size: 1.2rem;
}

/*  SECTION */

.baslik {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}
.baslik nav a {
  text-decoration: none;
}
.filmler {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  height: auto;

  justify-content: space-between;
  align-items: center;
}
.filmler h2 {
  font-size: 0.5rem;
}
.filmler div {
  font-size: 0.6rem;
}
.filmler_dty span {
  row-gap: 0.2rem;
}
.filmler_dty {
  background-color: white;
  display: flex;
  min-width: 18%;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  border: 2px solid red;
  padding: 0.5rem;
  border-radius: 8%;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.div_img img {
  width: 5rem;
  height: 5rem;
}
.filmler button {
  background: red;
  border: 0;
  padding: 0.3rem 1rem;
  color: white;
  font-size: 0.7rem;
  border-radius: 0.5rem;
}
.filmler button i {
  row-gap: 0.5rem;
  margin-left: -0.5rem;
  margin-right: 0.7rem;
}
.dn i {
  font-size: 0.5rem;
}
::-webkit-scrollbar {
  width: 1px;
  background-color: #dd8989;
  border-left: 0.5px solid #e67f7f;
}
::-webkit-scrollbar-thumb {
  background-color: black;
}
::-webkit-scrollbar-thumb:hover {
  background-color: red;
}

/*  FOOTER */
footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
footer h5 {
  margin-top: 0;
  text-align: center;
  position: relative;
}
.footer_ilk {
  width: 70%;
  justify-content: space-between;
}
.footer_nav a {
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: space-between;
  margin-right: 20px;
  align-items: center;
  text-decoration: none;
}
.footer_nav a:hover {
  color: red;
}
div.social_media {
  width: 15%;
  justify-items: center;
}
div.ikon {
  height: 45%;
}
i {
  margin-right: 2rem;
  justify-content: center;
  height: 15%;
}
.fa-brands,
.fab {
  font-size: xx-large;
  padding: 0.5rem;
}

.social_app {
  width: 15%;
}
.social_app img {
  position: relative;
  left: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 75%;
}

/*   MEDIA   */
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
  header div.h_panel {
    order: 1;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    left: 10px;
    align-items: center;
  }

  ul.menu {
    display: flex;
    order: 0;
    margin: 0;
    padding: 0;
  }
  nav.topic {
    display: none;
    order: 2;
  }
  .main_div {
    width: 100%;
  }
  .video_main {
    display: none;
    margin-right: 2rem;
  }
  .main_table {
    width: 90%;
  }

  .other_movies {
    width: 100%;
  }

  .div_img img {
    display: none;
  }
  .filmler button {
    width: 80%;
  }
  h2 {
    font-size: 0.2rem;
  }
  .filmler_dty span {
    display: none;
  }

  footer {
    width: 100%;
    margin-top: 0.3rem;
    flex-wrap: wrap;
    text-align: center;
  }
  footer nav {
    justify-content: center;
    left: 5;
  }
  footer nav a {
    font-size: 0.8rem;
  }
  .footer_ilk {
    width: 50%;
    font-size: 0.5rem;
  }
  .social_media {
    left: 2rem;
    width: 25%;
    height: auto;
  }
  div.social_app {
    width: 25%;
    left: 1rem;
  }
  div.ikon {
    display: flex;
    padding-top: 1rem;
    width: 70%;
  }
  .fa-brands,
  .fab {
    font-size: small;
    padding: 0.5;
    margin: 0;
  }
  h5 {
    margin-bottom: 0;
  }
}
