body {
  padding: 1rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* header bölümü*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

header h1 {
  text-shadow: 10px 0 30px black;
  color: red;
  margin: 0;
  font-size: 3em;
}

header nav {
  font-weight: bold;
  font-size: 0.8rem;
  display: flex;
  gap: 0.5rem;
}

header nav a {
  text-decoration: none;
  color: dimgrey;
}

header nav a:nth-child(2n) {
  color: red;
}

header nav a:hover {
  color: black;
}

.h_panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.h_panel input {
  padding: 0.3rem;
  width: 7rem;
  border-color: red;
  border-width: 0.05em;
}

.h_panel img {
  border-radius: 100px;
  width: 2.5rem;
}
.arama_panel {
  position: relative;
  width: 200px;
}

.arama_panel input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
}

.arama_panel::after {
  content: "\1F50D";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}

/* MAIN*/
main {
  aspect-ratio: 3/1;
  border: 1px solid black;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.d_video {
  display: flex;
  position: relative;
  left: 150px;
  height: auto;
  justify-content: center;
}
.rating {
  color: red;
  font-weight: bold;
}
.r_age {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0 0.5rem;
}

.m_diger span {
  font-weight: bold;
  color: red;
}
.diger p {
  margin: 0.5rem 0;
}
button {
  background: red;
  border: 0;
  padding: 0.6rem 2.1rem;
  color: white;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}
button i {
  margin-left: -1rem;
  margin-right: 0.5rem;
}

/*  SECTION */

.baslik {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}
.baslik nav a {
  text-decoration: none;
}
.filmler {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  height: auto;

  justify-content: space-between;
  align-items: center;
}
.filmler h2 {
  font-size: 0.8rem;
}
.filmler div {
  font-size: 0.6rem;
}
.filmler_dty span {
  row-gap: 0.2rem;
}
.filmler_dty {
  min-width: 30%;
  border: 2px solid red;
  padding: 0.5rem;
  border-radius: 8%;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.filmler button {
  background: red;
  border: 0;
  padding: 0.3rem 1rem;
  color: white;
  font-size: 0.7rem;
  border-radius: 0.5rem;
}
.filmler button i {
  row-gap: 0.5rem;
  margin-left: -0.5rem;
  margin-right: 0.25rem;
}

/*  FOOTER */
footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
footer h5 {
  margin-top: 0;
  text-align: center;
  position: relative;
}
.footer_ilk {
  width: 70%;
  justify-content: space-between;
}
.footer_nav a {
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  justify-content: space-between;
  margin-right: 20px;
  align-items: center;
  text-decoration: none;
}
.footer_nav a:hover {
  color: blue;
}
div.social_media {
  width: 15%;
  justify-items: center;
}
i {
  margin-right: 2rem;
  justify-content: center;
}
div.ikon {
  margin-left: 0.1rem;
}

.social_app {
  width: 15%;
}
.social_app img {
  height: 2rem;
  justify-items: center;
}
.div_app img {
  margin-left: 4rem;
}

/*   MEDIA   */
